<!-- <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@7.1.2/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@7.1.2/dist/ionic/ionic.js"></script> -->
<!-- <script defer src="https://cdn.jsdelivr.net/npm/htmx.org@1.9.2/dist/htmx.min.js"></script> -->
<!-- <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit.min.js"></script> -->
<!-- <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit.min.js"></script> -->
<!-- <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit-icons.min.js"></script> -->
</script>
<script>
//   document.addEventListener('uikit:init', () => {
//     delete document.getElementById('app').dataset.view
// })
//   if ('serviceWorker' in navigator) {
// navigator.serviceWorker.register('/sw.js');
// }
</script>